/* for large screens devices */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 80vw;
  }
  .hero-text {
    width: 85vw;
    margin: 0 auto;
  }

  h1 {
    line-height: 1.2;
  }
}

/* For screens less than 600px i.e., for tablest */
@media screen and (min-width: 641px) and (max-width: 768px) {
  .container {
    width: 85vw;
  }

  .display {
    height: 450px;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.2;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.05;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .get-started-area {
    flex-direction: column;
    gap: 20px;
  }

  .get-started-button {
    font-size: 1.3rem;
  }

  .display {
    height: 430px;
  }

  .display-picture img {
    width: 100%;
  }

  /* gif and animations */
  #relative-video video {
    width: 73%;
    transform: translate(50%, -55%);
  }

  #relative-video-2 video {
    width: 62%;
    transform: translate(50%, -83%);
  }

  .download-overlay {
    width: 70%;
  }

  .download-overlay :nth-child(1) {
    width: 45px;
    margin-right: 10px;
  }

  .download-overlay :nth-child(3) {
    width: 40px;
  }

  .downloading-text :first-child {
    font-size: 0.9rem;
  }

  .downloading-text :last-child {
    font-size: 0.8rem;
  }
  /* faq box */

  .faq {
    height: 800px;
  }

  .faq-box {
    height: 64px;
  }

  .faq h2 {
    font-size: 2.5rem;
  }

  .faq-box p {
    font-size: 1.1rem;
  }

  .faq-box svg {
    width: 1.5rem;
  }

  /* footer */
  .footer-container {
    width: 90vw;
  }
}

/* For small screens i.e., mobile devices */
@media screen and (max-width: 640px) {

  /* resets */
  p {
    font-size: 1.2rem;
    line-height: 1.2;
  }

  h1 {
    font-size: 2.1rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.9rem;
    font-weight: 900;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.1;
  }

  /* nav */
  .logo-img {
    width: 90px;
  }

  .primary-button {
    margin-left: 0;
    font-size: 0.83rem;
    border-radius: 7px;
    padding: 7px 14px;
  }

  .lang {
    padding-inline: 20px;
  }

  .lang select {
    display: none;
  }

  /* main */

  .main {
    height: 80vh
  }

  .get-started-area {
    width: 75vw;
    flex-direction: column;
    gap: 15px;
  }

  .get-started-area input {
    width: 100%;
    margin-top: 10px;
    height: 46px;
  }

  .get-started-button {
    height: 50px;
    font-size: 1.15rem;
  }

  .get-started-button i {
    font-size: 1rem;
  }

  .hero-text {
    width: 90vw;
    margin-inline: auto;
  }

  /* display section */
  .container {
    flex-direction: column;
    width: 85vw;
  }

  .display {
    height: 500px;
    padding-block: 30px;
  }

  .display-text {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }

  .display-picture {
    flex-basis: 100%;
    /* justify-content: flex-start; */
  }

  .display-picture img {
    width: 100%;
  }


  /* gif and animations */
  #relative-video video {
    width: 73%;
    transform: translate(50%, -55%);
  }

  #relative-video-2 video {
    width: 62%;
    transform: translate(50%, -83%);
  }

  .download-overlay {
    width: 75%;
    height: 70px
  }

  .download-overlay :nth-child(1) {
    width: 35px;
    margin-right: 8px;
  }

  .download-overlay :nth-child(3) {
    width: 35px;
  }

  .downloading-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .downloading-text :first-child {
    font-size: 0.9rem;
    width: 100%;
  }

  .downloading-text :last-child {
    font-size: 0.8rem;
  }

  /* faq box */

  .faq {
    height: 700px;
    padding-block: 20px;
  }

  .faq-box {
    height: 54px;
    width: 85vw;
  }

  .faq h2 {
    font-size: 2rem;
  }

  .faq-box p {
    font-size: 1rem;
  }

  .faq-box svg {
    width: 1.2rem;
  }

  .faq> :last-child {
    margin-top: 20px;
  }

  /* footer */

  footer {
    height: 60vh;
  }

  .footer-container {
    width: 90vw;
  }

  .footer-links ul li {
    flex-basis: 50%;
  }

  #footer-lang select{
    display: flex;
  }

}

